body {
    background-color: #32f5f5;
    font: normal 15pt arial;
    margin: 16px;
}

header {
    color: white;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 20px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    /* o max-width vai fazer com que o card não corte no celular */
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 47px 3px rgba(0, 0, 0, 0.5);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font: italic;
}